@model LFTERPsys.Models.DesignationDataModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input-group :focus {
        box-shadow: none;
    }
</style>
@{
    bool errorcheck()
    {
        return (Html.ValidationMessageFor(model => model.desgname) != null && !string.IsNullOrEmpty(Html.ValidationMessageFor(model => model.desgname).ToString()));
    }
}
@Styles.Render("~/Content/font-awesome")
@Styles.Render("~/Content/animate")
<h2 style="text-align:center">Designation List</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-group">
                    @Html.EditorFor(model => model.desgname, new { htmlAttributes = new { @class = "form-control py-2 border-right-0 border", style = "border-radius: 30px 0px 0px 30px;", placeholder = "Designation", required = "required" } })
                    <div class="input-group-append">
                        @Html.Hidden("Error")
                        <button class="btn btn-primary" style="border-radius: 0px 30px 30px 0px;" type="submit" onclick="document.getElementById('Error').value = @errorcheck()">Add</button>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.desgname, "", new { @class = "text-danger" })
            }
        </div>
        <div class="col-md-6">
            <form class="form-inline" style="float:right">
                <div class="input-group">
                    <input type="text" class="form-control py-2 border-right-0 border" id="SearchBox" style="border-radius: 30px 0px 0px 30px;" placeholder="Search Designation">
                    <div class="input-group-append">
                        <div class="input-group-text bg-transparent" style="border-radius: 0px 30px 30px 0px;">
                            <i class='fa fa-search'></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />

    @Html.Hidden("SessionID", new { @Value = ViewBag.SessionID })
    <form method="post" return false;">
        @Html.AntiForgeryToken()
        <input id="DesgNames" name="DesgNames" type="hidden" value="@ViewBag.Desgnames" />
        <table class="table" id="Designations">
            <tr>
                <th class="col-md-6">
                    @Html.DisplayNameFor(model => model.desgname)
                </th>
                <th class="col-md-6"></th>
            </tr>
            <tbody id="items">
                @foreach (var item in ViewBag.Desgnames)
                {
                    <tr>
                        <td class="col-md-6">
                            @item
                        </td>
                        <td class="col-md-6">
                            <a href="#" class="badge badge-pill badge-danger" id="DesignationDelete" style="float:right">Delete</a>
                            <!--Html.ActionLink("Delete", "DesignationDataDelete", new { id = item.sno, sessionid = ViewBag.SessionID }, new { class = "badge badge-pill badge-danger" })-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<div class="text-danger">@ViewBag.errormssg</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/Scripts/DesignationDataScripts/mvc.operations.js")
    @Scripts.Render("~/Scripts/SharedScripts/tableitem.search.js")
}
