@model IEnumerable<LFTERPsys.Models.EmployeeLoginDataModel>

@{
    ViewBag.Title = "All User Login ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/font-awesome")
@Styles.Render("~/Content/animate")
@Styles.Render("~/Content/SharedCss/dataTables.css")
@Styles.Render("~/Content/SharedCss/gradients.css")


<style>
    .input-group :focus {
        box-shadow: none;
    }

    .body-content {
        margin: 0px;
        margin-top: 15px;
        padding: 0px 0px;
    }

    .body {
        padding: 0px 0px;
    }
</style>

@Html.Hidden("SessionID", new { @Value = ViewBag.SessionID })
@Html.AntiForgeryToken()

@{
    LFTERPsys.Models.EmployeeInfoDataDbContext employeeInfoDataDbContext = new LFTERPsys.Models.EmployeeInfoDataDbContext();
}


<div class="card gradient-card" style="border:none; ">
    <div class="card-image" style="background-image: url(/Images/fleximage.jpg)">
        <!-- Content -->
        <div class="text-white d-flex mask dusty-grass-gradient">
            <div class="first-content mx-auto p-4">
                <h2 class="card-title">All User Login</h2>
            </div>
        </div>
    </div>
</div>
<br />

<table class="table" id="UserLoginData">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.empid)
            </th>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="items">
        @foreach (var item in Model)
        {
            <tr>
                @{ var empinfo = employeeInfoDataDbContext.EmployeeInfoDataDbSet.Where(model => model.empid.Equals(item.empid)).FirstOrDefault();}

                <td>
                    @Html.DisplayFor(modelItem => item.empid)
                </td>
                <td>
                    @empinfo.empname
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td class="center text-right">
                    @Html.ActionLink("Edit", "EmployeeLoginDataEdit", new { id = item.empid, sessionid = ViewBag.SessionID }, new { @class = "badge badge-pill badge-success" })
                    <a href="#" class="badge badge-pill badge-danger" id="ResetPassword">Reset Password</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/Scripts/EmployeeLoginDataScripts/mvc.operations.js")
    @Scripts.Render("~/bundles/Paging")
    @Scripts.Render("~/Scripts/EmployeeLoginDataScripts/paging.js")
}
